<!-- Component Start: footer -->

<div class="container">
    <footer class="footer">
        <div class="row">
            <div class="col-md-4 col-12">
                <ul class="list-inline">
                    {% for link in prototype.navigation.footer %}
                        <li>
                            <a
                                href="{{ link.href }}"
                                aria-label="{{ link.text }}"
                                data-tooltip="{{ link.text }}"
                            >
                                {{ link.text }}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4 col-12">
                <ul class="list-inline">
                    {% for link in prototype.navigation.social %}
                        <li>
                            <a
                                href="{{ link.href }}"
                                aria-label="{{ link.text }}"
                                data-tooltip="{{ link.text }}"
                            >
                                {% include '@components/icon/icon.twig' with { icon: link.icon } %}
                            </a>
                        </li>
                    {% endfor %}
                </ul>
            </div>
            <div class="col-md-4 col-12">
                <ul class="list-inline">
                    <li>
                        {% include '@components/icon/icon.twig' with { 'icon': 'copyright' } %}
                        Copyright DKFZ <span class="small">2022</span>
                    </li>
                </ul>

            </div>
        </div>

    </footer>
</div>


<!-- Components End: footer -->
