<!-- Component Start: footer -->

<footer class="footer background--expanded">
    <ul class="footer__items">
        {% for link in prototype.navigation.footer %}
            <li class="footer__item">
                <a
                    class="footer__link footer__link--meta"
                    href="{{ link.href }}"
                >
                    {{ link.text }}
                </a>
            </li>
        {% endfor %}
    </ul>
    <ul class="footer__items">
        {% for link in prototype.navigation.social %}
            <li class="footer__item">
                <a
                    class="footer__link footer__link--social button button--icon-only"
                    href="{{ link.href }}"
                    aria-label="{{ link.text }}"
                    data-tooltip="{{ link.text }}"
                >
                    {% include '@components/icon/icon.twig' with { icon: link.icon } %}
                </a>
            </li>
        {% endfor %}
    </ul>
    <div class="footer__items">
        <p class="footer__copyright">
            &copy; Copyright DKFZ <span class="small">2022</span>
        </p>
    </div>
</footer>

<!-- Components End: footer -->
