<!-- Styleguide Start: text -->

<div class="styleguide styleguide--texts">
    <div class="styleguide__sections">
        {% for text in texts %}
            <div class="styleguide__section">
                <ul class="styleguide__items">
                    {% for style in text.styles %}
                        {% if style.title %}
                            <li class="styleguide__item">
                                <div class="styleguide__header {{ style.class }}">{{ style.exampleText }}</div>
                                <div class="styleguide__body">
                                    <p>
                                        <span class="visually-hidden">Name:</span> {{ style.title }}<br />
                                        <span>Font:</span> {{ style.font }},
                                        <span>Größe:</span>{{ style.size }}
                                        <span>Zeilenabstand:</span> {{ style.lineHeight }}
                                        {% if style.letterSpacing != '0' %}
                                            <span>Zeilenabstand:</span> {{ style.letterSpacing }}
                                        {% endif %}
                                    </p>
                                </div>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>

<!-- Styleguide End: text -->
