<!-- Styleguide Start: headline -->

<div class="styleguide styleguide--headline">
    <ul class="styleguide__items">
        {% for headline in headlines %}
            <li class="styleguide__item">
                <div class="styleguide__header {{ headline.type }}">
                    <{{ headline.type }}>{{ headline.title }}</{{ headline.type }}>
                </div>
                <div class="styleguide__body">
                    <p>
                        <span>Font:</span> {{ headline.font }},
                        <span>Größe:</span> {{ headline.size }},
                        <span>Zeilenabstand:</span> {{ headline.lineHeight }}
                    </p>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>

<!-- Styleguide End: headline -->
