<!-- Component Start: tab--item -->
{% set tabId = random() %}

{% if title %}
<h5 class="tab-title h6">
    {{ title }}
</h5>
{% endif %}
{% for item in tabItem %}
<div class="tab-item__wrapper
    tab-item__wrapper--background-{{ background|default('white') }}
    row">
    <div class="col-md-9 tab-item__title">
        {% include '@components/icon/icon.twig' with {icon: 'file'} %} <h6> {{ item.fileName }}</h6>
    </div>
    <div class="col-md-3 tab-item__detail">
        <span class="tab-item__type">{{ item.fileType }}</span>
        <span class="tab-item__size">{{ item.fileSize }}</span>
        <a class="tab-item__link tab-item__link--download" type="button" aria-label="Herunterladen" data-tooltip="Herunterladen" download>
            {% include '@components/icon/icon.twig' with { icon: 'download' } %}
        </a>
        <button class="tab-item__link" type="button" id="{{ tabId }}"  aria-label="Zur Merkliste hinzufügen" data-tooltip="Zur Merkliste hinzufügen" data-bookmark-entity="file" data-bookmark-added="false" data-bookmark-id="{{ tabId }}">
            {% include '@components/icon/icon.twig' with { icon: 'bookmark-add' } %} {# @todo funktionality #}
        </button>
    </div>
</div>
{% endfor %}






<!-- Components End: tab--item -->
