<!-- Component Start: content-wrapper -->

<div class="content-wrapper {{ pattern.visible ? 'content-wrapper--title-with-pattern' : '' }}  {{ headerSize ? 'content-wrapper--' ~ headerSize : '' }}">
    {% if title %}
        <div class="content-wrapper__header">
            <h2 class="content-wrapper__title h4">{{ title }}</h2>
            {% if link.url %}
                <a class="content-wrapper__link" href="{{ link.url }}">
                    {{ link.text }}
                    {% include '@components/icon/icon.twig' with {icon: 'arrow-right'} %}
                </a>
            {% endif %}
            {% if pattern.visible %}
                <span class="content-wrapper__pattern pattern--{{ pattern.color|default('gray-900') }}"></span>
            {% endif %}
        </div>
    {% endif %}
    <div class="content-wrapper__content">
        {% block content %}{% endblock content %}
    </div>
</div>

<!-- Components End: content-wrapper -->
