<!-- Styleguide Start: interactive-elements -->

<div class="styleguide styleguide--interactive-elements">
    <div class="styleguide__sections">
        {% for row in rows %}
            <div class="styleguide__section">
                <h2 class="styleguide__desc">{{ row.title }}</h2>
                <ul class="styleguide__items">
                    {% for element in elements %}
                        <li class="styleguide__item">
                            <div class="styleguide__header">
                                {% if random(1) %}
                                    <button type="button" class="{{ element.class }} {{ row.class ? row.class : '' }}">
                                        {% if element.icon %}
                                            {% include '@components/icon/icon.twig' with {
                                                icon: element.icon
                                            } only %}
                                        {% endif %}
                                        {{ element.text }}
                                    </button>
                                {% else %}
                                    <a href="#" class="{{ element.class }} {{ row.class ? row.class : '' }}">
                                        {% if element.icon %}
                                            {% include '@components/icon/icon.twig' with {
                                                icon: element.icon
                                            } only %}
                                        {% endif %}
                                        {{ element.text }}
                                    </a>
                                {% endif %}
                            </div>
                            <div class="styleguide__body">
                                <p>
                                    <span class="visually-hidden">Name:</span> {{ element.title }}
                                </p>
                            </div>
                        </li>
                    {% endfor %}
                </ul>
            </div>
        {% endfor %}
    </div>
</div>

<!-- Styleguide End: interactive-elements -->
