<!-- Component Start: image -->

<figure class="picture {{ src ? 'picture--with-image' : 'picture--no-image' }}">
    <div class="picture__item {{ color ? color : '' }}"> {# @todo default hinterlegen #}
        {% if src %}
            <img
                class="picture__image image--responsive"
                src="{{ src|default('../../dist/image/examples/black-and-white.jpg') }}"
                {#            {% if title %}data-tooltip="{{ title }}"{% endif %}#}
                alt="{{ alt }}"
                {#            {% if lazy == 0 %}{% else %}loading="lazy"{% endif %}#}
            >
            {#    {% if copyright %}#}
            {#        {% include '@components/copyright/copyright.twig' with {#}
            {#            'text': copyright#}
            {#        } %}#}
            {#    {% endif %}#}
        {% else %}
            <span class="picture__pattern pattern--gray-900"></span>
        {% endif %}
    </div>
</figure>

<!-- Components End: image -->
