<!-- Component Start: image -->

<figure class="picture {{ src ? 'picture--with-image' : 'picture--no-image' }} {{ round ? 'picture--round' : '' }} {{ icon ? 'picture--as-icon' : '' }}">
    <div class="picture__item {{ color ? color : '' }}"> {# @todo default hinterlegen #}
        {% if src %}
            <img
                class="picture__image image--responsive"
                src="{{ src }}"
                {% if alt %}{% else %}alt="{{ alt }}"{% endif %}
            >
            {% if patternColor %}
                <span class="picture__pattern {{ patternColor }}"></span>
            {% endif %}
            {#    {% if copyright %}#}
            {#        {% include '@components/copyright/copyright.twig' with {#}
            {#            'text': copyright#}
            {#        } %}#}
            {#    {% endif %}#}
        {% else %}
            <span class="picture__pattern pattern--gray-900"></span>
        {% endif %}
    </div>
</figure>

<!-- Components End: image -->
